.grid{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    background-color: #dadbd3;
    box-shadow: -1px 4px 20px -9px rgba(0,0,0,0.8);
}
.shadow{

    width:70%;
    height: 80vh;
    background:#ededed;
    box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.8);
    margin-bottom: 10px;

}
label.col-md-12.col-form-label{
    text-align: center !important;
    font-weight: bold;
}
 .form-group{
    display: flex !important;
    flex-direction: column ;
    flex: 1;
}
button.btn.btn-primary{
    flex: 1 !important;
    background: #1c478e !important;
    margin-left: 10px !important;
    margin-right: 8px !important;
}
span.invalid-feedback{
    text-align: center !important;
}

.invalid{
    color:#e3342f !important;
}
.officer-created{
    font-weight: bold;
    text-align: center;
    padding: 12px;
    background: #1c478e;
    border: 1px solid #1c478e;
    border-radius: 999px;
    margin-top: -10px;
}
.officer-created>h4{
    color: #fff;
}
.remove-alert{
    display: none;
}
.footer{
    margin-top: -2rem;
}
.footer>a{
    text-decoration:none;
    cursor: pointer;
    font-weight: bold;
}